:root {
  --pallete-1: #232323;
  --pallete-2: #333;
  --pallete-red: #A04747;
  --pallete-yellow: #D8A25E;   
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #232323;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* background-color: #343131; */
  /* color: white; */
}

.recipe-img{
  width: 175px;
  height: auto;
}

.recipe-details .d-flex {
  border: 0.5px solid var(--pallete-2);
  padding: 0.5rem;
}

.navbar-brand, h3 {
  color: var(--pallete-red )
}